<div class="auth-container">
  <div class="auth-card">
    <h2>Nuova Password</h2>

    <div class="form-group">
      <input type="password" [(ngModel)]="nuovaPassword" placeholder="Nuova Password">
    </div>

    <button class="btn-primary" (click)="salvaPassword()">Salva Password</button>
    <p *ngIf="messaggio" [ngClass]="{'error': !successo, 'success': successo}">{{ messaggio }}</p>

    <div class="auth-footer" *ngIf="successo">
      <a routerLink="/login">Vai al Login</a>
    </div>
  </div>
</div>
