<div class="auth-container">
  <div class="auth-card">
    <h2>Recupero Password</h2>
    <p>Inserisci la tua email, ti invieremo un link.</p>

    <div class="form-group">
      <input type="email" [(ngModel)]="email" placeholder="La tua email">
    </div>

    <button class="btn-primary" (click)="inviaRichiesta()">Invia Link</button>

    <div class="auth-footer">
      <a routerLink="/login">Torna al Login</a>
    </div>
  </div>
</div>

<div id="toast" [class.show]="mostraToast" [class.error]="isErrore">
  {{ messaggio }}
</div>
